<!DOCTYPE html>
<html>
<head>
  <title>Index</title>
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">

</head>
<body>
<div>
   <h2> 'Hello, let is start playing'</h2>
   <span> 'You can use a "Hint" to display a random number'
   'You can use a  to exit the game'</span>
  <form method="post" action="/start">
    <input type="submit" value="Start Game">
  </form>
</div>
</body>
</html>

